body{
    margin: 0;
    padding: 1em;
    border: 2em solid #fff;
    background-color:#fffe22;
    color:blue;
    font-family:'Segoe UI', 'Helvetica', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
h1{
    width:100%;
    text-align: center;
}
p{
    max-width:600px;
    justify-content: left;
}
.ctrdiv{
    display: flex;
    width:100%;
    justify-content: center;
    line-height:1.4;
}

img{
    border:2em solid white;
}

hr{
    min-width:40%;
    border:1px solid blue;
}