body{
    background-color:yellow;
    color:blue;
    font-family:'Segoe UI', 'Helvetica', sans-serif;
    margin: 1em;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    width:100%;
    text-align: center;
}
p{
    max-width:600px;
    justify-content: left;
}
.ctrdiv{
    display: flex;
    width:100%;
    justify-content: center;
}

img{
    border:25px solid white;
}